<li id="trip-<%=trip.id%>%">
    <span class="company_name">Company name:<%=trip.company_name%></span>
    <span class="starting_station">Starting station:<%=trip.company_name%></span>
    <span class="destination">Destination:<%=trip.destination%></span>
    <span class="departure">Departure:<%=trip.departure%></span>
    <span class="arrival">Arrival:<%=trip.arrival%></span>
    <span class="remaining_tickets">Remaining tickets:<%=trip.remaining_tickets%></span>
</li>    